.post-date{
	background:#f4f4f4;
	padding:4px;
	margin:3px 0;
	display:block;
}

.post-thumb{
	width:100%;
	height:100%;
}

.pagination-links{
	margin:30px 0;
}

.pagination-links strong{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

a.pagination-link{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

.cat-delete{
	display:inline;
}

.mapdiv{
	width:100%;
	margin: auto;

}

.mapdiv path {
	fill:#0000cd;
	stroke:#ffffff;
	stroke-width:2px;
	transition:fill 0.3s;
}

.login-page, .register-page {
background: url("<?php echo base_url('assets/images/tuv_logo.png'); ?>") no-repeat center center fixed;
background-size: cover;
}



.f1 h3 { margin-top: 0; margin-bottom: 5px; text-transform: uppercase; }

.f1-steps { overflow: hidden; position: relative; margin-top: 20px; }

.f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #ddd; }
.f1-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: #D81B60; }

.f1-step-icon {
    display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #ddd;
    font-size: 16px; color: #fff; line-height: 40px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.f1-step.activated .f1-step-icon {
    background: #fff; border: 1px solid #D81B60; color: #D81B60; line-height: 38px;
}
.f1-step.active .f1-step-icon {
    width: 48px; height: 48px; margin-top: 0; background: #D81B60; font-size: 22px; line-height: 48px;
}

.f1-step p { color: #ccc; }
.f1-step.activated p { color: #D81B60; }
.f1-step.active p { color: #D81B60; }

.f1-step a { color: #ccc; }
.f1-step.activated a { color: #D81B60; }
.f1-step.active a { color: #D81B60; }

.f1 fieldset { display: none; text-align: left; }

.f1-buttons { text-align: right; }

.f1 .input-error { border-color: #D81B60; }
.f1-step { position: relative; float: left; width: 25%; padding: 0 5px; text-align: center;}






